<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div id="home">

          <div id="hero">
            <h1>Abhilash Rejanair</h1>
          </div>
          <ul id="links">
            <li class="link"> <a href="https://github.com/abhilashr1">Github</a> </li>
            <li class="link"> <a href="/blog">Blog</a> </li>
            <li class="link"> <a href="https://www.linkedin.com/in/abhilashrejanair/">Linkedin</a> </li>
            <li class="link"> <a href="mailto:abhilash at rejanair.com">Email</a> </li>
            <li class="link"> <a href="/about">About</a> </li>
          </ul>
        
          <div id="about">
            <h2>About me</h2>
            <p>Hello 👋🏽 I'm Abhilash Rejanair, a Fullstack software engineer. I like building software. </p>
          </div>
        
        </div>
      </div>
    </main>
  </body>

</html>



